<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>


<body>
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">

    <div class="py-5 text-center">
        <h2>글 상세 </h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/boards/{id}/edit(id=${board.id})}'|"
                    th:if="${#session}"
                    type="button" >글 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='Boards.html'"
                    th:onclick="|location.href='@{/}'|"
                    type="button" >목록</button>
        </div>

        <div class="col">
            <button class="w-100 btn btn btn-danger btn-lg"
                    onclick="location.href='Boards.html'"
                    th:onclick="|location.href='@{/boards/{id}/delete(id=${board.id})}'|"
                    th:if="${#session}"
                    type="button" >삭제</button>
        </div>
    </div>

    <div><hr class="my-5">
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div>
        <label for="boardSubject" >제목</label>
        <input type="text" id="boardSubject" name="boardSubject" class="form-control" value="제목" th:value="${board.title}" readonly>
    </div>

    <div>
        <label for="contents" >글 내용</label>
        <textarea class="form-control" id="contents" rows="5" th:field = "${board.content}" readonly></textarea>
    </div>

    <hr class="my-4">


    <!--    댓글      -->
    <div class="card-header">댓글 등록하기</div>
    <form class="d-flex" role="search" for="searchText" th:action = "@{/boards/{id}/addReply(id=${board.id})}"  method="post" >
        <input class="form-control me-3" id="searchText"
               name = "searchText" row ="1" type="search" placeholder="댓글을 등록하세요" aria-label="Search" th:field="${replySaveRequestDto.content}">
        <button class="btn btn-success"  style="width:60pt;height:30pt;" type="submit"> 등록 </button>
    </form>
    <br>

    <div class="card">
        <div class="card-header">댓글 리스트</div>
        <ul th:each="reply : ${replyList}" id="reply-box" class="list-group">
            <li th:id="|reply-${reply.id}|" class="list-group-item">
                    <div  class="d-flex ">
                        <div th:text="|작성자 : ${reply.memberId} &nbsp &nbsp|"  class="font-italic">작성자 : yoon &nbsp;</div>
                        <div th:text="|작성 날짜 : ${#temporals.format(reply.date, 'yyyy-MM-dd')}  &nbsp &nbsp|" class="font-italic">작성자 : 2022-08-10</div>
                        <button th:onclick = "|location.href='@{/boards/{id}/delete/{deleteId}(id=${board.id}, deleteId=${reply.id})}'|"
                                class="badge">삭제</button>
                    </div>
                    <div th:text="${reply.content}">댓글 내용</div>
            </li>
        </ul>
    </div>



</div> <!-- /container -->
</body>
</html>
