<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body>
<div th:replace="fragments.html :: main-nav"></div>
<div class="container" style="max-width: 1000px">
    <div class="py-5 text-center">
        <h2>글 목록</h2>
    </div>

    <div class="row">
        <div class="col" >
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/boards/add}'|"
                    th:if="${#session}"
                    type="button">글 등록</button>
        </div>
    </div>


    <hr class="my-4">
    <div>
        <div> 총 건수 : <span th:text="${boards.getTotalElements}"></span></div>
        <table class="table">
            <thead>
            <tr>
                <th >번호</th>
                <th colspan="3" >제목</th>
                <th>작성자</th>
                <th>등록일</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="board, boradStat : ${boards}">
                <td th:text="${boradStat.count}" >번호</td>
                <td colspan="3"><a href="Board.html" th:href="@{/boards/{id}(id=${board.id})}" th:text="${board.title}">제목</a></td>
                <td th:text="${board.userId}">작성자</td>
                <td th:text="${#temporals.format(board.date, 'yyyy-MM-dd')}">등록일</td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#"
                       th:href="@{/(page = ${boards.pageable.pageNumber - 1}, searchText = ${param.searchText})}">Previous</a>
                </li>

                <li class="page-item" th:each="i: ${#numbers.sequence(startPage, endPage)}"
                    th:classappend="${i == boards.pageable.pageNumber + 1} ? 'disabled'">
                    <a class="page-link" href="#"
                       th:href="@{/(page = ${i - 1}, searchText = ${param.searchText})}"th:text="${i}"> 1 </a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="#"
                       th:href="@{/(page = ${boards.pageable.pageNumber + 1}, searchText = ${param.searchText})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>


</div> <!-- /container -->

</body>
</html>