<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body>
<div th:replace="fragments.html :: main-nav"></div>
<div class="container" style="max-width: 1000px">
    <div class="py-5 text-center">
        <h2>글 목록</h2>
    </div>

    <form method="get" class="form-inline">
        <div class="col">
            <div class="col" >
                <button class="btn btn-primary float-end"
                        onclick="location.href='addForm.html'"
                        th:onclick="|location.href='@{/boards/add}'|"
                        th:if="${#session}"
                        type="button">글 등록</button>
            </div>
            <div class="col">
            </div>
        </div>


        <div class="row">
            <div class="col">
                <input type="text"  class="form-control" placeholder="찾는 제목"/>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-secondary mb-2">검색</button>
            </div>
        </div>
    </form>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th >번호</th>
                <th colspan="3" >제목</th>
                <th>작성자</th>
                <th>등록일</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.id}" >번호</td>
                <td colspan="3"><a href="Board.html" th:href="@{/boards/{id}(id=${board.id})}" th:text="${board.title}">제목</a></td>
                <td th:text="${board.userId}">작성자</td>
                <td th:text="${#temporals.format(board.date, 'yyyy-MM-dd')}">등록일</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>