<head th:fragment="head">
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 800px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>

<nav th:fragment="main-nav"  class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" th:href="@{/}"> 홈 화면 </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/login}" href="#" th:unless = "${#session}" >로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{/signup}" th:unless = "${#session}" href="#">회원가입</a>
                </li>
                <li class="nav-item" >
                    <form class="form-inline my-2 my-lg-0" action="#" th:if="${#session}"
                          th:action="@{/logout}" method="post">
                        <button class="nav-link btn btn-outline-secondary" type="submit">로그아웃</button>
                    </form>
                </li>
            </ul>
        </div>

        <form class="d-flex" role="search" for="searchText" th:action = "@{/}" method="get" >
            <input class="form-control me-2" id="searchText"
                   name = "searchText" type="search" placeholder="찾는 제목" aria-label="Search" th:value = "${param.searchText}">
            <button class="btn btn-outline-success" type="submit"> Search </button>
        </form>

    </div>
</nav>